
body {
    width : 80%;

    margin: auto;
    border: 2px solid #5f5f5f;
    margin-top: 4.5%;
    margin-bottom: .5%;

    background-color: rgb(6, 27, 48);
}
#gameDiv {
    background-color: #0A5199;
    padding: 30px;
    font-family: "Courier New", Courier, monospace;
    font-size: 4em;
    text-align: center;
    text-shadow: 1px 1px #b6b6b6;   
    color: azure;

}

#boardDiv{
    background-color: #D81C00;
    padding: 30px;
    font-family: "Courier New", Courier, monospace;
    font-size: 3.5em;
    
    text-align: center;
}

#guessedDiv{
    background-color: #D86500;
    padding: 30px;
    text-align: center;
    font-size: 2em;
}

#guessesLeftDiv{
    background-color: #0A5199;
    color: azure;
    padding: 30px;
    font-size: 2em; 
    text-align: center;
}

#winsLossesDiv{
    background-color: #0A5199;
    padding: 30px;
    color: azure;
    font-size: 1.5em;
}