
body {
    width : 80%;
    height: 90%;
    margin:auto;
    border: 2px solid #5f5f5f;
    margin-top: .5%;
    margin-bottom: .5%;
}
#gameDiv {
    background-color: #0A5199;
    padding: 50px;
    font-family: "Courier New", Courier, monospace;
    font-size: 4em;
    text-align: center;
    text-shadow: 1px 1px #b6b6b6;   
    color: azure;

}

#boardDiv{
    background-color: #D81C00;
    padding: 50px;
    font-family: "Courier New", Courier, monospace;
    font-size: 2em;
    
    text-align: center;
}

#guessedDiv{
    background-color: #D86500;
    padding: 50px;
    text-align: center;
    font-size: 2em;
}

#guessesLeftDiv{
    background-color: #0A5199;
    color: azure;
    padding: 50px;
    font-size: 2em; 
    text-align: center;
}

#winsLossesDiv{
    background-color: #0A5199;
    padding: 50px;
    color: azure;
}